body {
  font-family: Arial, sans-serif;
  background-color: #674d3911 !important;
  margin: 0;
  padding: 0;
  text-align: center !important;
}

h2 {
  color: #6b4226;
  font-size: 24px;
  margin-bottom: 1%;
  margin-top: 2% !important;
}

select{
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-top: 5% !important;
}
/* Table styling */
table {
  width: 80% !important;
  margin: 0 auto !important;
  border-collapse: collapse !important;
  background-color: #faf0e6 !important;
  border-radius: 8px !important;
  overflow: hidden !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  overflow-y: auto;
}

/* Table header */
thead {
  background-color: #8b5e3b;
  color: white;
}

th,
td {
  padding: 10px !important;
  text-align: center !important;
  border-bottom: 1px solid #d2b48c;
}

tr:nth-child(even) {
  background-color: #e3c6a0;
}

tr:hover {
  background-color: #d2a679;
  color: white;
}

/* Buttons */
.btn {
  padding: 5px 12px !important;
  text-decoration: none !important;
  color: white ;
  margin: 4px !important;
  border-radius: 5px !important;;
  display: inline-block !important;
  transition: background 0.3s ease-in-out !important;
}

.btn:hover {
  opacity: 0.8 !important;
}

.btn-danger {
  background-color: #b22222 !important;
}

.btn-danger:hover {
  background-color: #8b0000 !important;
}

.btn-secondary {
  background-color: #6b4226 !important;
}

.btn-secondary:hover {
  background-color: #4f2d1a !important;
}
/* 
/* Back button
a.btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #8B5E3B;
    padding: 10px 20px;
}

a.btn:hover {
    background-color: #6B4226;
} */
