/* Réinitialisation des marges et paddings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html {
  height: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  overflow-y: auto;   /* Permet le défilement vertical si nécessaire */
  background-color: #674d3911;
  font-family: Arial, sans-serif;
}
/* body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #674d3911;
  height: 100%; /* Assure une hauteur pleine 
  max-height: 100vh;  /* Ne dépasse jamais la hauteur de l'écran 
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Assure une hauteur pleine de la fenêtre /
  max-height: 100vh;  /* Ne dépasse jamais la hauteur de l'écran /
  overflow-x: hidden; /* Empêche le défilement horizontal /
  overflow-y: auto;   /* Permet le défilement vertical si nécessaire /
} */


/******************************/
@media (max-width: 868px) {
  .logout-container {
    margin-top: auto;
  }

  .disconnect-btn {
    width: 100%;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  .disconnect-btn:hover {
    color: white;
    border: 1px solid #fff;
  }
}

@media (max-width: 500px) {
  /* Réduction de la taille du texte et des marges pour les petits écrans */
  h1 {
    font-size: 1.5rem;
  }

  .theme-item {
    font-size: 0.9rem;
  }

  .delete-button {
    font-size: 0.8rem;
  }
}

button {
  padding: 5px 10px;
  background-color: #452c19ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Section de sélection des thèmes */
#subject-selection h2 {
  font-size: medium;
  color: #333;
}


.theme-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.subject-button {
  width: 80%;
  text-align: center;
  margin: 2px;
}

.subject-button:hover {
  background-color: #333;
}

.delete-button {
  padding: 5px 7px;
  border: none;
  background-color: #dc3545;
  color: white;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}


.bg-brown {
  background-color: #6F4F37 !important; /* Code couleur marron */
}
.container {
  width: 100%;  /* Prend toute la largeur de l'écran */
  max-width: 100%;  /* Ne dépasse jamais la largeur de l'écran */
  max-height: 150vh;  /* Ne dépasse jamais la hauteur de l'écran */
  overflow: hidden;  /* Permet le défilement vertical si nécessaire */
  padding: 1rem; /* Ajout d'un peu de padding */
}

.card-body {
  overflow-y: auto;
  max-height: calc(100vh - 150px); /* Limite la hauteur à 100vh moins l'espace des titres */
}

canvas {
  max-width: 100% !important;    /* S'adapte à la largeur du conteneur */
  height: auto !important;
}
.card-header {
  text-align: center;
}
/* Sections des cartes */
.row {
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}


/* Bouton de création de questionnaire */
.new-questionnaire-button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  font-size: medium;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-questionnaire-button:hover {
  background-color: #0056b3;
}
